
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: radial-gradient(circle at center, #ffb1b1, #df5eff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 20px;
  backdrop-filter: blur(10px);
}

.pic {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin: 10px;
}

.text {
  text-align: center;
  padding: 0 20px;
  color: white;
}
