body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://scontent.ftpe7-4.fna.fbcdn.net/v/t39.30808-6/478000357_642203504988510_3818546045462963798_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=127cfc&_nc_ohc=KgLk3IyEO_gQ7kNvwEPH8Tg&_nc_oc=AdlGPPuWumUs_jRKXJqhQJWdCYvP-7FW74ZKh5gKfw54SxUI24dIoME6Dk1glWkTV3g&_nc_zt=23&_nc_ht=scontent.ftpe7-4.fna&_nc_gid=m4mOa-xiOxkvrXi82FhsHA&oh=00_AfFN7GxWlECVKscjGII7aQxUHdSdwvYetbaNmMO6tdDmsw&oe=67FF7BDE');
  background-size: cover;
  background-position: center;
  transition: background 0.5s ease;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 30px;
  margin: 100px auto;
  width: 90%;
  max-width: 500px;
  color: white;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.card h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.card a:hover {
  color: #ffd700;
}

.toggle-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(0,0,0,0.6);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.toggle-btn:hover {
  background-color: rgba(0,0,0,0.8);
}

body.dark {
  background-image: url('https://scontent.ftpe7-1.fna.fbcdn.net/v/t39.30808-6/486680361_1825046781679574_2841758644775903856_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=iwDgGGAA-7IQ7kNvwH6LqXp&_nc_oc=Adl1ZhKQ8GdbMF65sCH-LuhkdZcFz2S-tv2TkdKlwGzx39i2yXKf3cSoxevIixCIL7A&_nc_zt=23&_nc_ht=scontent.ftpe7-1.fna&_nc_gid=Sv0dtAU9SD__YnGC1wbY7g&oh=00_AfFglgJ9D1ED9SJX0At-RvjOxyDw34lsOwO70bVjXoLF3g&oe=67FFA642');
}

body.dark .card {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

body.dark .card a {
  color: #cceeff;
}

body.dark .card a:hover {
  color: #00ffff;
}
